{% extends 'base.html' %}
{% load static %}
{% block meta %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/todolist.css' %}"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

{% endblock meta %}

{% block content %}
<header>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{user.username}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:create_task' %}">Create Task</a></a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

  <body>

    <div class="d-flex justify-content-center mt-5 mb-5 text-center text-capitalize">
      <h1>Hello {{user.username}}</h1>
    </div>
  
    <div class="row row-cols-md-3 mx-auto justify-content-center">
        
      {% for task in list_task %}
        <div class="col-auto mb-3">
            <div class="card border-primary mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">{{task.title}}</h3>
                    <h6 class="card-text"><small class="text-muted">{{task.date}}</small></h6>
                    <p class="card-text">{{task.description}}</p>
                    <p class="card-text">
                      {% if task.is_finished == False %}
                      Belum Selesai
                      {% else %}
                      Selesai
                      {% endif %}
                    </p>
                      <a class="btn login_btn btn btn-primary form-control mt-3" href="{% url 'todolist:check' task.id %}">Ubah Status</a>
                      <a class="btn login_btn btn btn-danger form-control lg mt-2" href="{% url 'todolist:delete' task.id %}">Clear</a>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </body>
  
  <div class="row row-cols-md-3 mx-auto" style="width: 100%;">

    {% for todo in list_todo %}
      <div class="col">
          <div class="card text-bg-secondary border-secondary mb-3">
              <div class="card-body">
                  <h3 class="card-title text-center" style="padding-bottom: 5px">{{task.title}}</h3>
                  <h6 class="card-subtitle text-center">{{task.date}}</h6>
                  <h4 class="card-text text-center">{{task.description}}</h4>
                  <p class="card-text text-center">
                    {% if task.is_finished == False %}
                    Belum Selesai
                    {% else %}
                    Selesai
                    {% endif %}
                  </p>
                      <a class="btn login_btn btn btn-primary form-control mt-3" href="{% url 'todolist:check' task.id %}">Ubah Status</a>
                      <a class="btn login_btn btn btn-danger form-control lg mt-2" href="{% url 'todolist:delete' task.id %}">Clear</a>

              </div>
          </div>
      </div>
    {% endfor %}
  </div>

<!-- <table>
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Check</th>
    <th>Delete</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
    <tr style="background-color: rgb(230, 223, 206);">
        <td>{{task.date}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        {% if task.is_finished == False %}
        <th>Belum Selesai</th>
        {% else %}
        <th>Selesai</th>
        {% endif %}
        <td><button><a href="{% url 'todolist:check' task.id %}">Check</a></button></td>
        <td><button><a href="{% url 'todolist:delete' task.id %}">Delete</a></button></td>
    </tr>
{% endfor %}
</table>

<button><a href="{% url 'todolist:create_task' %}">Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

<h4><center> {{pesan}} </center></h4> -->

{% endblock content %}