{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<b>{{nama}}</b>

<table>
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release_date</th>
    <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
    <tr style="background-color: rgb(230, 223, 206);">
        <td>{{movie.watched_movie}}</td>
        <td>{{movie.movie_title}}</td>
        <td>{{movie.movie_rate}}</td>
        <td>{{movie.release_date}}</td>
        <td>{{movie.movie_review}}</td>
    </tr>
{% endfor %}
</table>

<h4><center> {{pesan}} </center></h4>

{% endblock content %}